<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publish" *ngIf="token">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" *ngIf="token">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" *ngIf="!token">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" *ngIf="!token">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Registrarse</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<!-- 
<ion-tabs>
  <ion-tab-bar slot="bottom">
    

    <ion-tab-button tab="publish">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Publicar</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ng-container *ngIf="!tokenService.loggedIn(); else loggedIn">
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Login</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Registrarse</ion-label>
      </ion-tab-button>
    </ng-container>

    <ng-template #loggedIn>
      <ion-tab-button tab="publish">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Publicar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ng-template>
    
    
  </ion-tab-bar>
</ion-tabs> -->
