<ion-header>
  <ion-toolbar>
    <ion-title>Terminos</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="terms">
    <h2>Condiciones de uso</h2>
    <p>Última modificación: 29 de Marzo de 2021.</p>

    <p>Estas condiciones de uso son aplicables a BibliotecApp.com, y la app de BibliotecApp.</p>

    <p>Ver las normas de publicación</p>

    <p>Ver las condiciones del servicio de Destacado</p>

    <p>1. Introducción</p>
    <p>Te damos la bienvenida al portal www.BibliotecApp.com (en adelante, el "Portal") (en adelante, el "Portal"). Los productos y los servicios de BibliotecApp (en adelante, los "Servicios") se proporcionan a través de Rachid Oulgour. (en adelante, «BibliotecApp»), desde Contacta con BibliotecApp y la dirección en C/ Matamón, 2, 15,
        Carlet, Valncia, España.</p>

    <p> El uso de nuestro Portal implica la aceptación y adhesión a todas nuestras Condiciones de Uso y a nuestra
        Política de Privacidad. Te recomendamos que las leas detenidamente.</p>

    <p>Nuestros Servicios son muy diversos, por lo que en ocasiones se pueden aplicar condiciones o requisitos de
        productos adicionales (incluye restricciones de edad). Las condiciones adicionales estarán disponibles junto con
        los Servicios pertinentes y formarán parte del acuerdo que estableces con BibliotecApp al usar nuestros
        servicios.</p>

    <p>2. Definición del servicio de BibliotecApp</p>
    <p>El Servicio de BibliotecApp consiste en la publicación, por parte del anunciante, de anuncios en el Portal.
        BibliotecApp se reserva el derecho a difundir en terceros portales, total o parcialmente, los Anuncios del
        anunciante, así como en otros sitios web, tales como redes sociales o blogs, aceptando el Anunciante dicha
        condición.</p>

    <p>Asimismo, la publicación de un anuncio en BibliotecApp permite al usuario la posibilidad de enviar y publicar de
        forma gratuita dicho anuncio en el resto de portales. habilitados a tal efecto. Dicho envío y publicación
        implica que el anuncio, así como las fotografías y los datos facilitados, se repliquen en los portales de
        destino en función de sus características y requisitos técnicos.</p>

    <p>Para insertar y publicar un anuncio, el anunciante tiene que registrarse en el portal, rellenar el formulario de
        "publicar". A partir de ese momento los datos aportados por el anunciante quedarán registrados, y serán tratados
        de conformidad con nuestra Política de Privacidad. el anunciante puede modificar, renovar o eliminar sus
        anuncios y consultar los mensajes que han llegado como respuesta al anuncio en forma de correo electrónico.</p>

    <!-- Para insertar anuncios en el Portal el anunciante ha de completar el formulario de "Publicar Anuncios". Una vez insertado su anuncio, el anunciante recibirá una notificación confirmándole la publicación de su anuncio. A partir de ese momento los datos aportados por el anunciante quedarán registrados, y serán tratados de conformidad con nuestra Política de Privacidad. El usuario recibe una clave de acceso por correo electrónico. Con el correo electrónico que ha facilitado el anunciante en la inserción del anuncio y la clave de acceso, el anunciante puede acceder al área "Modificar mis Anuncios" para modificar, renovar o eliminar sus anuncios y consultar los mensajes que han llegado como respuesta al anuncio en forma de correo electrónico. -->

    <p>El anuncio permanecerá publicado en el Portal por el periodo elegido por el anunciante, si no se ha eliminado
        antes de la finalización del periodo por parte del anunciante o por parte de BibliotecApp. Para publicar
        nuevamente el anuncio eliminado, o cualquier otro, el anunciante deberá insertar un nuevo anuncio.</p>

    <p>3. Uso del portal y sus servicios</p>
    <p>El usuario se compromete a utilizar el Portal, sus contenidos y servicios conforme con:</p>

    <p>La Ley o cualesquiera otras normas del ordenamiento jurídico aplicable.</p>
    <p>Las presentes Condiciones de Uso.</p>
    <p>Las Normas de Publicación.</p>
    <p>Las buenas costumbres.</p>
    <p>El orden público.</p>
    <p>Asimismo, el Usuario se compromete expresamente a no destruir, alterar, inutilizar o, de cualquier otra forma,
        dañar los datos, programas o documentos electrónicos y demás que se encuentren en el Portal de
        www.bibliotecapp.com.</p>

    <p>El Usuario se compromete a no obstaculizar el acceso de otros usuarios al servicio de acceso mediante el consumo
        masivo de los recursos informáticos a través de los cuales BibliotecApp presta el servicio, así como realizar
        acciones que dañen, interrumpan o generen errores en dichos sistemas.</p>

    <p>El Usuario se compromete a no transmitir, introducir, difundir y poner a disposición de terceros cualquier tipo
        de material e información (programas, virus, macros, applets, controles ActiveX, datos, contenidos, dibujos,
        archivos de sonido e imagen, etc.) que sean contrarios a la ley, el orden público o que causen o sean
        susceptibles de causar cualquier tipo de alteración en los sistemas informáticos de BibliotecApp o de terceros.
    </p>

    <p>El Usuario deberá anunciarse en la categoría adecuada y la localidad en la que se encuentre el producto y
        comprometerse a:</p>

    <p>No incitar a actuar de forma ilegal.</p>
    <p>No difundir difamaciones, calumnias, injurias y/o contenidos o propaganda de carácter racista, xenófobo, de
        apología del terrorismo o que atenten contra los derechos humanos.</p>
    <p>No manifestar falsedades o inducir a error.</p>
    <p>No suplantar a otros usuarios utilizando sus claves de acceso a los distintos servicios y/o contenidos del
        Portal.</p>
    <p>No utilizar correos electrónicos ficticios para publicar anuncios.</p>
    <p>No abusar del sistema de "denunciar" a un anuncio para eliminar anuncios sin causa justificada.</p>
    <p>No difundir comunicaciones no solicitadas o autorizadas.</p>
    <p>No difundir mensajes que atenten contra la dignidad de terceros o que sean groseros o falten el respeto</p>
    <p>No usar robots, spiders, "scrapers" o cualquier otro medio automático para acceder al Portal para copiar,
        retirar, renovar o publicar contenido sin previo consentimiento escrito por BibliotecApp
        No usar ninguna herramienta de multiposting que no haya sido expresamente autorizada por BibliotecApp. En caso
        de incumplimiento de esta norma por parte del usuario el portal podrá dar de baja el servicio sin previo aviso
        sin reembolsar los servicios contratados y no disfrutados
        No almacenar o en cualquier forma recabar información o datos personales de terceros sin su consentimiento,
        incluidas las direcciones de correo electrónico.</p>
    <p>No esquivar, evitar o "saltar" las medidas utilizadas para impedir o restringir el acceso al Portal.
        Al contactar a un anunciante a través de un anuncio de la página mediante el formulario "Enviar email" el
        interesado acepta que se le envíe un email al correo electrónico aportado a modo de recordatorio de dicho
        contacto.</p>

    <p>4. Propiedad intelectual e industrial</p>
    <p>El Portal aloja contenidos tanto propios como contenidos creados por los usuarios. El Portal está protegido por
        leyes de propiedad intelectual y por los tratados internacionales en la materia. El contenido que se muestra en
        o a través del sitio web está protegido en su condición de obra colectiva y / o compilación, de acuerdo con las
        leyes de propiedad intelectual y los tratados internacionales sobre la materia.</p>

    <p>Salvo que fuera autorizado por BibliotecApp o a menos que ello resulte legalmente permitido, el usuario no podrá
        copiar, modificar, distribuir, vender, alquilar o explotar de cualquier otra forma contenidos del Portal
        (excepción hecha del propio contenido del usuario). Asimismo el usuario no puede llevar a cabo operaciones de
        desensamblaje o descompilación, ingeniería inversa o cualquier otra operación destinada a obtener cualquier
        código fuente contenido en este Portal.</p>

    <p>Al subir fotografías al Portal, el usuario cede gratuitamente a BibliotecApp los derechos de explotación de
        propiedad intelectual sobre las mismas, por lo que BibliotecApp podrá reproducirlas, transformarlas (incluyendo,
        sin limitación, la inclusión de marcas de agua u otros mecanismos que impidan el aprovechamiento inconsentido
        por parte de terceros), distribuirlas y comunicarlas al público (incluida la puesta a disposición del público) a
        través de cualquier modalidad de explotación y utilizando cualquier formato o soporte o medio de explotación o
        comunicación. Dicha cesión de derechos no está sujeta a ninguna limitación de carácter temporal ni territorial,
        esto es, se realiza para todo el mundo y por todo el tiempo de vigencia legal de los mismos. BibliotecApp podrá
        ejercer los derechos de explotación de las fotografías en la forma que estime más conveniente, y podrá incluso
        transmitirlos o cederlos con carácter exclusivo o no a terceros en los términos y condiciones que considere
        oportunos.</p>

    <p>El usuario garantiza que es pleno titular de los derechos que se ceden a BibliotecApp en virtud de esta cláusula,
        y que el uso y explotación de los mismos por BibliotecApp no supondrá violación alguna de derechos de propiedad
        intelectual, ni de imagen, ni, en general, de ninguna otra clase, que correspondan a cualesquiera terceros,
        obligándose a indemnizar y a mantener indemne a BibliotecApp en caso de infracción.</p>

    <p>5. Exclusión de garantias y responsabilidad</p>
    <p>1. Disponibilidad y Continuidad del Portal y los Servicios</p>

    <p>BibliotecApp no garantiza la disponibilidad, el acceso y/o la continuidad del funcionamiento del Portal y de sus
        Servicios. Asimismo, BibliotecApp no será responsable, con los límites establecidos por la Ley, de los daños y
        perjuicios causados al Usuario como consecuencia de la indisponibilidad, fallos de acceso y falta de continuidad
        del Portal y de sus Servicios.</p>

    <p>2. Contenidos y Servicios de BibliotecApp</p>

    <p>BibliotecApp responderá única y exclusivamente de los Servicios que preste por sí misma y de los contenidos
        directamente originados por BibliotecApp e identificados con su copyright. Dicha responsabilidad quedará
        excluida en los casos en que concurran causas de fuerza mayor o en los supuestos en que la configuración de los
        equipos del Usuario no sea la adecuada para permitir el correcto uso de los servicios de Internet prestados por
        BibliotecApp.</p>

    <!-- Sin perjuicio de lo dispuesto, la posible responsabilidad de BibliotecApp frente al usuario o frente a terceros se limita a la más alta de las siguientes cantidades: (a) el precio total que el usuario ha pagado a BibliotecApp durante los doce meses previos al acto que originó la responsabilidad, o bien (b) la cantidad de cien (100) euros, con exclusión, en todo caso, de cualquier tipo de responsabilidad por daños indirectos o por lucro cesante. -->

    <p>El Portal no se hace responsable de la posible aparición de anuncios indexados en buscadores ajenos al portal,
        una vez se hayan dado de baja de nuestras bases de datos.</p>

    <p>3. Contenidos y servicios de terceros</p>

    <p>BibliotecApp no revisa o controla previamente, aprueba ni hace propios los contenidos, productos, servicios,
        opiniones, comunicaciones, datos, archivos y cualquier clase de información de terceros recogidos en el Portal.
        Asimismo, no garantiza la licitud, fiabilidad, utilidad, veracidad, exactitud, exhaustividad y actualidad de los
        contenidos, informaciones y servicios de terceros en el Portal. BibliotecApp tampoco garantiza de ninguna forma
        que los Usuarios del Portal utilicen los contenidos y/o servicios del mismo conforme con la ley, las normativas
        aplicables, el orden publico ni las presentes Condiciones de Uso.</p>

    <p>BibliotecApp no controla con carácter previo y no garantiza la ausencia de virus y otros elementos en los
        contenidos y servicios prestados por terceros a través del Portal que puedan introducir alteraciones en los
        equipos de acceso, documentos o ficheros guardados en ellos.</p>

    <p>BibliotecApp no se responsabiliza de los contenidos volcados o los actos cometidos por otros usuarios. Tampoco se
        responsabiliza de cualquier daño o perjuicio como consecuencia de la presencia de virus u otros elementos en los
        contenidos y servicios prestados por terceros. Asimismo BibliotecApp no responderá de los daños y perjuicios de
        cualquier naturaleza derivados del uso negligente o malintencionado de las cuentas de correo electrónico
        utilizadas para insertar un anuncio o responder a un anuncio.</p>

    <p>En cualquier caso BibliotecApp no será responsable, ni indirectamente ni subsidiariamente, de la perdida
        económica o reputación, ni de ninguna clase de daños especiales, indirectos o emergentes, resultantes de la
        utilización del sitio web por parte del usuario.</p>

    <p>La exoneración de responsabilidad señalada en el párrafo anterior será de aplicación en el caso de que
        BibliotecApp no tenga conocimiento efectivo de que la actividad o la información almacenada es ilícita o de que
        lesiona bienes o derechos de un tercero susceptibles de indemnización, o si la tuviesen actúe con diligencia
        para retirar los datos y contenidos o hacer imposible el acceso a ellos.</p>

    <p>Sin perjuicio de lo dispuesto anteriormente, la posible responsabilidad de BibliotecApp frente al usuario o
        frente a terceros se limita a la más alta de las siguientes cantidades: (a) el precio total que el usuario ha
        pagado a BibliotecApp durante los doce meses previos al acto que originó la responsabilidad, o bien (b) la
        cantidad de cien (100) euros.</p>

    <p>6. Contratación de servicios vinculados al anuncio
        La contratación del servicio "renovación automática" vinculado a un anuncio publicado en el Portal sólo
        producirá efectos DURANTE el periodo de vigencia del anuncio, no suponiendo en ningún caso una prórroga en la
        vigencia del mismo por finalización de su publicación, ni tampoco por eliminación activa del anuncio.</p>

    <p>7. Contratación con terceros a través del portal</p>
    <p>El Usuario reconoce y acepta que cualquier relación contractual o extracontractual que formalice con los
        anunciantes o terceras personas contactadas a través del Portal, así como su participación en concursos,
        promociones, compraventa de bienes o servicios, se entienden realizados única y exclusivamente entre el Usuario
        y el anunciante y/o tercera persona. El Usuario acepta por lo tanto que BibliotecApp no tiene ningún tipo de
        responsabilidad sobre los daños o perjuicios de cualquier naturaleza ocasionados con motivo de sus
        negociaciones, conversaciones y/o relaciones contractuales o extracontractuales con los anunciantes o terceras
        personas físicas o jurídicas contactadas a través del Portal.</p>

    <p>8. Enlaces de texto y enlaces gráficos
        El Portal pone a disposición de sus clientes dispositivos técnicos de enlace de texto y/o enlaces gráficos que
        permiten a los usuarios el acceso a páginas web titularidad de otras entidades. Estos enlaces están debidamente
        señalados como publicidad en el Portal.</p>

    <p>El cliente previamente autorizado reconoce y acepta que la utilización de los contenidos de las páginas web
        enlazadas será bajo su exclusivo riesgo y responsabilidad y exonera a BibliotecApp, de cualquier responsabilidad
        sobre disponibilidad técnica de las páginas web enlazadas, la calidad, fiabilidad, exactitud y/o veracidad de
        los servicios, informaciones, elementos y/o contenidos a los que el usuario pueda acceder en las mismas.</p>

    <p>BibliotecApp no será responsable indirecta ni subsidiariamente de los daños y perjuicios de cualquier naturaleza
        derivados de a) el funcionamiento, indisponibilidad, inaccesibilidad y la ausencia de continuidad de las páginas
        web enlazadas; b) la falta de mantenimiento y actualización de los contenidos y servicios contenidos en las
        páginas web enlazadas; c) la falta de calidad, inexactitud, ilicitud, inutilidad de los contenidos y servicios
        de las páginas web enlazadas.</p>

    <p>9. Derecho de limitar o poner fin al servicio de BibliotecApp</p>
    <p>BibliotecApp se reserva el derecho, ejercitable en cualquier momento y de modo discrecional a rechazar cualquier
        anuncio o compromiso de ubicación de un anuncio en una categoría o localidad determinada. BibliotecApp también
        se reserva el derecho de eliminar cualquier anuncio del Portal sin necesidad de avisar previamente a los
        usuarios y/o anunciantes.</p>

    <p> BibliotecApp puede denegar o poner fin a su servicio y adoptar medidas técnicas y legales para mantener a los
        usuarios alejados del Portal si creemos que están creando problemas o actuando de forma contraria al espíritu o
        la forma de nuestras normas y condiciones de uso, todo ello con independencia de cualquier pago realizado por el
        uso del Portal o servicios complementarios. Sin embargo, decidamos o no retirar el acceso al sitio web de un
        usuario, no aceptamos ninguna responsabilidad por el uso no autorizado o ilegal del sitio web por los usuarios,
        tal y como se describe en los párrafos anteriores...</p>

    <p>10. Indemnización por uso abusivo</p>
    <p>BibliotecApp se reserva el derecho, ejercitable en cualquier momento a cobrar una indemnización de un euro o su
        equivalente en créditos por cada anuncio que se vea obligada a eliminar del portal como consecuencia de
        contravenir las presentes Condiciones de Uso o Normas de publicación. BibliotecApp también podrá cobrar dicha
        indemnización, compensando con créditos que haya adquirido el infractor. Tanto el anunciante final como terceras
        personas o empresas que faciliten con su ayuda el uso abusivo de los servicios, podrán ser requeridos para el
        pago de esta indemnización.</p>

    <p>11. Varios</p>
    <p>1. Modificaciones en el Servicio y Condiciones de Uso</p>

    <p>BibliotecApp se reserva el derecho a realizar cambios en el Portal, pudiendo modificar, suprimir e incluir,
        unilateralmente y sin previo aviso, nuevos contenidos así como la forma en que estos aparezcan presentados y
        localizados.</p>

    <p>Asimismo, BibliotecApp se reserva el derecho a realizar cambios las presentes Condiciones de Uso en cualquier
        momento. El usuario quedará sujeto a las nuevas Condiciones de Uso que hayan sido publicadas en el momento en
        que acceda o utilice los servicios del Portal.</p>

    <p>Si alguna de las presentes condiciones resulta invalidada, nula o inaplicable por cualquier motivo, dicha
        condición quedará excluida y no afectará a la validez ni la aplicabilidad del resto de condiciones.</p>

    <p>2. Precios de los Servicios</p>

    <p>Los precios de los servicios serán establecidos en las correspondientes páginas del Portal para cada servicio y
        serán válidos durante el tiempo que los mismos permanezcan accesibles al Usuario.</p>

    <p>3. Menores de Edad</p>

    <p>Con carácter general, para hacer uso de los Servicios del Portal los menores de edad deben haber obtenido
        previamente la autorización de sus padres, tutores o representantes legales, quienes serán responsables de todos
        los actos realizados a través del Portal por los menores a su cargo. </p>
    <!-- En aquellos Servicios en los que expresamente se señale, el acceso quedará restringido única y exclusivamente a mayores de 18 años. -->

    <p>12. Duración y terminación</p>
    <p>La prestación de los servicios y/o contenidos del Portal tiene una duración indefinida.</p>

    <p> Sin perjuicio de lo anterior, y además de por las causas establecidas legalmente, BibliotecApp está facultada
        para dar por terminada, suspender o interrumpir unilateralmente, en cualquier momento y sin necesidad de
        preaviso, la prestación del servicio y del Portal y/o cualquiera de los servicios.</p>

    <p>13. Jurisdicción</p>
    <p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman estas Condiciones
        de Uso, así como cualquier cuestión relacionada con los servicios del Portal, será la ley española.</p>

    <p>Para la resolución de cualquier controversia que pudiera surgir con ocasión del uso del Portal y sus servicios,
        las partes acuerdan someterse a la jurisdicción de los Juzgados y Tribunales de la ciudad de Valencia (España),
        y sus superiores jerárquicos, con expresa renuncia a otros fueros si lo tuvieren y fueran diferentes de los
        reseñados.</p>

    <p>Normas de publicación</p>
    <!-- Última modificación: 15 de junio de 2020 -->

    <p>Como regla básica, y tal como se específica en las Condiciones de Uso de BibliotecApp, los anuncios tienen que
        respetar las leyes y cualesquiera otras normas del ordenamiento jurídico aplicable, las buenas costumbres y el
        orden público.</p>

    <p>Más allá los anunciantes tienen que respetar las Normas Generales de Publicación así como las Normas Específicas
        de la Categoría en la que se publica un anuncio determinado.</p>

    <p>Es importante tener en cuenta que las reglas se actualizan con frecuencia y por lo tanto cambian con el tiempo.
        BibliotecApp se reserva el derecho de decidir cuándo un anuncio va contra las normas y el espíritu del Portal y,
        por lo tanto, cuándo es necesario eliminarlo del sitio. Cualquier anuncio o usuario que no convenga con las
        Condiciones de Uso o las Reglas de Publicación será eliminado y bloqueado de la página.</p>

    <p>Como norma general se entenderá como no aceptable cualquier uso de BibliotecApp que perjudique o moleste a los
        otros usuarios que utilizan el portal.</p>

    <p> 1. Normas generales de publicación</p>
    <p>Es necesario completar todos los campos obligatorios del formulario PUBLICAR ANUNCIO.</p>
    <p>Hay que respetar las categorías y las secciones.</p>
    <p>No está permitido publicar un anuncio idéntico o similar a otro ya publicado.</p>
    <p>No está permitido utilizar correos ficticios para publicar un anuncio.</p>
    <p>No está permitido escribir el anuncio en mayúsculas.</p>
    <p>No está permitido publicar fotos del contenido interior de los libros.</p>
    <p>No esta permitido publicar textos copiados de los libros sujetos a los derechos del autor, editor y distribuidor.
    </p>
    <p>No está permitido publicar servicios de publicación de anuncios.</p>
    <p>No está permitido anunciar algo genérico.</p>
    <p>No esta permitido utilizar palabras clave no relacionados al anuncio ("Keyword Spamming").</p>
    <p>No está permitido utilizar sistemas o herramientas para la publicación o renovación masiva y/o automática de
        anuncios, sin el previo consentimiento escrito por BibliotecApp.</p>
    <p>No está permitido copiar, procesar o distribuir el texto y/o las fotos o imágenes de terceros sin su previa
        autorización.</p>
    <p>No está permitido incluir el número de teléfono o el correo electrónico fuera de los campos explícitamente
        previstos para incluir esta información o URL en el campo nombre del formulario PUBLICAR ANUNCIO.</p>
    <p>No está permitido publicar anuncios con contenido erótico, sexual o pornográfico.</p>
    <!-- Solo se puede renovar un anuncio de forma gratuita una vez cada 24h (00:01 a las 23:59). -->
    <p>No está permitida la publicación de números de tarificación especial (905, 806, etc) en ninguna categoría fuera
        de la sección de Videntes</p>
    <p>En anuncios válidos para toda España, se tiene que indicar la localidad en la que se encuentra el producto.</p>
    <!-- Un trueque se tiene que anunciar en la categoría del artículo o servicio del que dispone el anunciante. -->
    <!-- No está permitido anunciar servicios de videncia fuera de la categoría Videntes.
        No está permitido poner un precio ficticio para mejorar las posiciones en las búsquedas. -->
    <p>No está permitido publicar anuncios que promocionen negocios que de algún modo puedan ser competidores de
        BibliotecApp.</p>
</div>
</ion-content>
