<ion-header>
  <ion-toolbar>
    <ion-title>politics</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="private-politics">
    <h2>POLÍTICA DE PRIVACIDAD</h2>
        Información adicional sobre Protección de Datos
        <h3>1. Responsable</h3>
        <p>¿Quién es el responsable del tratamiento de tus datos?</p> 
        
        <p> Identidad: Rachid Oulgour
        Dir. postal: Carrer Matamon 2, 5ª planta, 15,
                46240 Carlet
        Teléfono: 628943543
        Contacto Delegado Protección de Datos: enzymebooks@gmail.com
        Para otras dudas o consultas haz click aquí.</p>
        <h3>2. Finalidades</h3>
        <p>¿Con qué finalidad tratamos tus datos personales?</p> 
        
        <p> En cumplimiento de lo dispuesto en el Reglamento Europeo 2016/679 General de Protección de Datos, te informamos de que, tanto si eres anunciante como usuario, tratamos los datos que nos facilitas para las siguientes finalidades:</p>
        
        <p>Realizar una correcta gestión de la publicación de tu anuncio. Este servicio incluye que tratemos tus datos para:
        Crearte una cuenta de usuario en el momento de la publicación del primer anuncio, la cual es necesaria para que puedas gestionar los anuncios que publiques y los contactos que recibas. Así, si en el momento de publicar tu primer anuncio no eres un usuario registrado, automáticamente te crearemos una cuenta y te enviaremos un email de confirmación con las instrucciones para que puedas acceder a tu cuenta. Desde allí podrás gestionar y configurar tus opciones de privacidad.</p>
        <p>Gestionar nuestros servicios, incluyendo recordatorios, avisos técnicos, actualizaciones, alertas de seguridad, mensajes de soporte, entre otros.
        Proporcionar el servicio de mensajería instantánea entre usuarios para facilitar la transacción y comunicación entre estos; al usar el formulario de contacto o el chat en el área de usuario, estarás utilizando nuestro servicio de mensajería. Los mensajes y anuncios son revisados por un proceso automático. Lo hacemos para prevenir el fraude o un uso abusivo o inadecuado de nuestros servicios, incluyendo la venta de bienes ilegales, tales como falsificaciones o bienes robados. Si detectamos una actividad o comportamiento sospechoso o ilegal, nuestro equipo de seguridad podrá revisar los mensajes enviados y recibidos. Del mismo modo, podremos acceder a los mensajes enviados y recibidos para mejorar y desarrollar nuestros servicios.</p>
        <p>Posibilitar el contacto con los anunciantes. Cuando contactes con los anunciantes, les enviaremos los datos personales y la información que incluyas en el formulario de contacto. Asimismo, cuando uses el formulario de contacto, estarás utilizando nuestro servicio de mensajería. Los mensajes y anuncios son revisados por un proceso automático. Lo hacemos para prevenir el fraude o un uso abusivo o inadecuado de nuestros servicios, incluyendo la venta de bienes ilegales, tales como falsificaciones o bienes robados. Si detectamos una actividad o comportamiento sospechoso o ilegal, nuestro equipo de seguridad podrá revisar los mensajes enviados y recibidos. Del mismo modo, podremos acceder a los mensajes enviados y recibidos para mejorar y desarrollar nuestros servicios.</p>
        <p>Elaborar un perfil comercial. Al navegar por nuestro site, y siempre que contemos con tu consentimiento, tanto si eres anunciante como usuario, podremos elaborar un perfil comercial en base a la información facilitada por ti para mostrarte publicidad personalizada perfilada a través de las cookies. No se tomarán decisiones automatizadas en base a dicho perfil que produzcan efectos jurídicos o significativos para ti. El perfil comercial que se elabore a través de las cookies podrá ser utilizado por sites de terceros para mostrarte publicidad personalizada. Puedes configurar tus preferencias a través de nuestra política de cookies o, si eres un anunciante, en tu área de usuario.
        Enviarte notificaciones para informarte de nuestros productos y servicios y para enviarte publicidad de otros sites de BibliotecApp y de terceros. Puedes oponerte en cualquier momento a recibir este tipo de comunicaciones a través de los enlaces que encontrarás en cada correo electrónico. Si eres un anunciante, también puedes configurar tus preferencias de envíos en tu área de usuario.</p>
        <p>Prevenir abusos y fraudes en el uso de nuestros servicios (por ejemplo, actividades fraudulentas, ataques de denegación de servicios, envío de spam, entre otros).
        Ceder datos a organismos y autoridades públicas, siempre y cuando sean requeridos de conformidad con las disposiciones legales y reglamentarias.</p>
        <h3>3. Plazo de conservación de los datos</h3>
        <p>¿Por cuánto tiempo conservaremos tus datos?</p>
        
        <p> Si eres un anunciante, tus datos serán conservados mientras dure la relación contractual y comercial con nosotros, solicites su supresión, así como el tiempo necesario para cumplir las obligaciones legales.</p>
        
        <p>Si has contactado con algún anunciante, tus datos se conservarán durante el tiempo necesario para posibilitar el contacto con cada uno de los anunciantes con los que contactes. En todo caso, conservaremos tus datos durante el tiempo necesario para cumplir las obligaciones legales.</p>
        
        <p>Independientemente de si eres un anunciante o un usuario, conservaremos tus datos de navegación durante un plazo máximo de 12 meses.</p>
        
        <h3>4. Legitimación</h3>
        <p>¿Cuál es la legitimación para el tratamiento de tus datos?</p> 
        
        <p>La base legal para el tratamiento de tus datos radica en:</p>
        
        <p>La ejecución de un contrato con Rachid Oulgour en relación con la finalidad indicada en el apartado 1 y 2 anteriores.</p>
        <p>El consentimiento del usuario en relación con las finalidades indicadas en los apartados 3 y 4 anteriores.</p>
        <p>El interés legítimo del responsable del tratamiento para la finalidad indicada en el apartado 5 anterior. El interés legítimo consiste en proteger a los usuarios de los sites de BibliotecApp de abusos y fraudes en el uso de nuestros servicios.</p>
        <p>El cumplimiento de obligaciones legales aplicables a BibliotecApp para la finalidad indicada en el apartado 6.</p>
        <h3>5. Destinatarios</h3>
        <p>¿A qué destinatarios se comunicarán tus datos?</p>
        
        <p>Tus datos personales serán comunicados a terceros en los siguientes supuestos:</p>
        
        <p>Tus datos personales se comunicarán al anunciante que se indique en el detalle de cada anuncio para posibilitar el contacto con este último.</p>
        <p>Tus datos personales podrán ser accedidos por aquellos proveedores que prestan servicios a BibliotecApp, tales como servicios de alojamiento de contenido, de mensajería instantánea, de envío de notificaciones, servicios publicitarios, etc. Rachid Oulgour ha suscrito los correspondientes contratos de encargo de tratamiento con cada uno de los proveedores que prestan servicios a Rachid Oulgour y BibliotecApp.</p>
        <p>Tus datos personales también podrán ser cedidos a las autoridades competentes en los casos que exista una obligación legal.</p>
        <h3>6. Derechos</h3>
        <p>¿Cuáles son tus derechos cuando nos facilitas tus datos y cómo puedes ejercerlos?</p>
        
        <p>Tienes derecho a obtener confirmación sobre si en BibliotecApp estamos tratando datos personales que te conciernan, o no.</p>
        
        <p>Asimismo, tienes derecho a acceder a tus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos.</p>
        
        <p>En determinadas circunstancias, podrás solicitar la limitación del tratamiento de tus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones.</p>
        
        <p>Adicionalmente, en determinadas circunstancias y por motivos relacionados con tu situación particular, podrás oponerte al tratamiento de tus datos. RachisOulgour y BibliotecApp dejaran de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.</p>
        
        <p>Asimismo, puedes ejercer el derecho a la portabilidad de los datos, así como retirar los consentimientos facilitados en cualquier momento, sin que ello afecte a la licitud del tratamiento basado en el consentimiento previo a su retirada.</p>
        
        <p>Si deseas hacer uso de cualquiera de tus derechos puedes dirigirte a nosotros mediante los correos electrónicos indicados en el apartado 1, a través de los enlaces habilitados que encontrarás en los correos electrónicos y comunicaciones de BibliotecApp o en tu cuenta de usuario. Alternativamente, también puedes dirigirte a nosotros mediante correo postal en la siguiente dirección: Rachid Oulgour, C/ Matamn 2, 5ª planta. 15, 46240 Carlet, España. Dirigido a Atención al Usuario e indicando en el sobre "Protección de Datos". Recuerda facilitar la mayor información posible sobre tu solicitud: Nombre y apellidos, dirección de correo electrónico que utilizas para la cuenta o portal objeto de tu solicitud.</p>
        
        <p>Por último, te informamos que puedes dirigirte ante la Agencia Española de Protección de Datos y demás organismos públicos competentes para cualquier reclamación derivada del tratamiento de tus datos personales.</p>
        
        <p>En relación a los datos facilitados a los anunciantes con los que hayas contactado, puedes ejercer tus derechos frente al anunciante como usuario, dirigiéndote a la dirección del anunciante que figura consignada en la parte inferior del anuncio. Se entiende, en este caso, por anunciante toda aquella persona física o jurídica que oferte todo tipo de productos o servicios en nuestros Portales.</p>
        
        <h3>7. Política de cookies</h3>
        <p>¿Qué cookies utilizamos?</p>
        
        <p>Para conocer las cookies que utilizamos en esta página web/aplicación móvil, recuerda que puedes acceder a nuestra Política de Cookies a través del siguiente enlace a <a routerLink="/cookies">la política de cookies</a>.</p>
</div>
</ion-content>
